@charset "euc-jp"; 

body {
	font-family: 'Meiryo','メイリオ','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
}

/***********************************************/
/* header                                      */
/***********************************************/

#header {
	width: 840px;
	margin: 7px 0 10px;
	text-align: left;
}/* 141101 */
