@charset "euc-jp"; 

body {
	font-family: 'Meiryo','メイリオ','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
}
/***********************************************/
/* wrapper                                      */
/***********************************************/
wrapper {
	width: 840px;
}
wrapper span {
	width: 840px;
}/* 141120 */

/***********************************************/
/* header                                      */
/***********************************************/
#header {
	width: 840px;
	margin: 7px 0 10px;
	text-align: left;
}