@charset "euc-jp"; 

body {
	font-family: 'Meiryo','メイリオ','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','Osaka','ＭＳ Ｐゴシック',sans-serif;
	margin: 0;
}

/* header                                      
/***********************************************/

/* 1411001 */
#header {
	width: 840px;
	margin: 7px 0 10px;
	text-align: left;
<<<<<<< HEAD
}/* 141101 */
=======
}

>>>>>>> c15a838b72c70f9b75763ccdf12a7edfa127fb8f
#header span {
	text-align: left;
}

/* 141103 */
#header span span {
	text-align: left;
<<<<<<< HEAD
}/* 141103 */
=======
}

.area-rankinglist .item .thumb a span.text {
    display: inherit;
    position: absolute;
    bottom: 4px;
    right: 3px;
    width: auto;
    background-color: #000;
    font-size: 0.8em;
    color: #FFF;
    text-align: left;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
    zoom: 1;
    cursor: pointer;
    z-index: 2;
    line-height: 12px;
    height: 14px;
}
>>>>>>> c15a838b72c70f9b75763ccdf12a7edfa127fb8f
